@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --navbar-height: 91px; /* Define your navbar height here */
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

main {
  padding-top: calc(var(--navbar-height) + 16px);
}

section {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 80px;
  margin-bottom: 80px;
}
