@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --navbar-height: 91px; /* Define your navbar height here */
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

main {
  padding-top: calc(var(--navbar-height) + 16px);
}

section.main-section {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  section.main-section {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

/* Large screens (1024px and up) */
@media (min-width: 1024px) {
  section.main-section {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
