@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --navbar-height: 91px; /* Define your navbar height here */
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

main {
  padding-top: calc(var(--navbar-height) + 16px);
}

section {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 80px;
  margin-bottom: 80px;
}
